<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Scrabble!</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Go Home!</a></li>
          <li><a href="/score">Score a word!</a></li>
          <li><a href="/score-many">Score many words!</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>© 2016 Lisa Rolczynski</p>
      <a href="mailto:lisa.sano@gmail.com?Subject=Hey%20Lisa" target="_top">Contact me!</a>
    </footer>
  </body>
</html>