<form action="" method="post" accept-charset="UTF-8">
  <label for="word-list">Enter some words!</label>
  <p>(separate words using spaces or commas)</p>
  <textarea class="from-user" name="game[word_list]" value="" id="word-list"></textarea>

  <input type="submit" value="Submit!">
</form>

<% if @scores %>
  <div class="result">
    <table>
      <tr>
        <th>Word</th>
        <th>Score</th>
      </tr>
      <% @scores.each do |word, score| %>
        <tr>
          <td><%= word %></td>
          <td><%= score %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>


<% if @letter_scores %>
  <div class="breakdown">
    <% @letter_scores.each do |word| %>
      <p><% word.each do |letter_score| %>
        <span><%= letter_score.first + ": " %>
        <span class="score"><%= letter_score[1] %></span></span>
      <% end %></p>
    <% end %>
  </div>
<% end %>