<form action="" method="post" accept-charset="UTF-8">
  <label for="word-list">Word List</label>
  <textarea name="game[word_list]" value="" id="word-list"></textarea>

  <input type="submit" value="Submit">
</form>


<% if @scores %>
  <% @scores.each do |word, score| %>
    <p><%= "#{word}: #{score}" %></p>
  <% end %>
<% end %>
