<form action="" method="post" accept-charset="UTF-8">
  <label for="word-list">Word List</label>
  <input type="text" name="game[word_list]" value="" id="word-list">

  <input type="submit" value="Submit">
</form>

<p>
  

</p>