<form action="" method="post" accept-charset="UTF-8">
  <label for="word">Word</label>
  <input type="text" name="game[word]" value="" id="word">

  <input type="submit" value="Submit">
</form>

<% if @score %>
  <p><%= "#{@word}: #{@score}" %></p>
<% end %>