<form action="" method="post" accept-charset="UTF-8">
  <label for="word-list">Enter some words!</label>
  <p>(separate words using spaces or commas)</p>
  <textarea class="from-user" name="game[word_list]" value="" id="word-list"></textarea>

  <input type="submit" value="Submit!">
</form>

<% if @scores %>
  <div class="result">
    <table>
      <tr>
        <th>Word</th>
        <th>Score</th>
        <th>Breakdown</th>
      </tr>
      <% @scores.each_with_index do |score, i| %>
        <tr>
          <td><%= @words[i] %></td>
          <td><%= score %></td>
          <td class="many-breakdown">
            <!-- for each word, iterate through and put both the word and the score on the page -->
            <% @letter_scores[i].each do |pair| %>
              <span><%= pair.first + ": " %>
              <span class="score"><%= pair[1] %></span></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
