* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Handlee";
  min-height: 100%;
  position: relative;
}

body {
  /*background-color: #262626;*/
  background: linear-gradient(#660066, #000); /* Standard syntax */
  background-attachment: fixed;
  color: #a6a6a6;
  margin: 0;
  padding: 0;
}


/*********HEADER**********/

h1 {
  font-size: 5vw;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2rem;
  text-align: center;
  text-shadow: 4px 4px 5px #000;
  padding-left: 2rem; /* doesn't look centered wtf */
  width: 100%;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 1rem;
  width: 100%;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 30%;
}

nav a {
  color: #00b8e6;
  font-size: 1.5rem;
  font-variant: small-caps;
  text-decoration: none;
  width: 100%;
}

nav a:hover {
  color: #d9d9d9;
}


/*********BODY***********/

main {
  margin-bottom: 100px;
}

form {
  padding: 2rem 0;
  text-align: center;
}

label, input {
  display: block;
  margin: 1rem auto;
}

label {
  font-size: 2rem;
  text-shadow: 2px 2px 5px #000;
}

form > p {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}

.from-user {
  color: #c653c6;
  font-size: 2rem;
  text-align: center;
  width: 25%;
  background-color: #262626;
}

.blank {
  width: 100%;
  min-height: 100%;
}

.result {
  font-size: 2.5rem;
  text-align: center;
}

table {
  font-size: 1.5rem;
  border-spacing: 3rem 0.5rem;
  border: 1px solid #4d4d4d;
  margin: 2rem auto;
}

th {
  font-size: 1.7rem;
  text-decoration: underline;
}

th, td {
  padding: 1rem;
}

.breakdown {
  text-align: center;
  padding: 2rem;
}

span.score {
  color: #b300b3;
  padding: 1rem 2rem 1rem 0.5rem;
}

.breakdown > p {
  margin: 2rem 0;
}

.many-breakdown {
  padding-left: 2rem;
}

/*********FOOTER**********/

footer {
  bottom: 0;
  color: #b300b3;
  font-size: 0.7rem;
  margin: 0 auto;
  padding: 2rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100px;
}

footer p {
  margin-bottom: 0.2rem;
}

footer a {
  color: #00b8e6;
}
