* {
  box-sizing: border-box;
}

html {
  background-color: #52527a;
  font-size: 16px;
  color: #e6b3ff;
}


/*********HEADER**********/

nav {
  text-align: center
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0.5rem 5rem;
}

nav a {
  font-size: 1.5rem;
  color: #33ccff;
  text-decoration: none;
}

nav a:hover {
  color: #bb33ff;
}


/*********FOOTER**********/

footer {
  bottom: 0;
  /*display: block;*/
  margin: 0 auto;
  padding-bottom: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer p {
  margin-bottom: 0.2rem;
}
