* {
  box-sizing: border-box;
}

html {
  background-color: #52527a;
  font-size: 16px;
  color: #e6b3ff;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}




/*********HEADER**********/

nav {
  text-align: center;
  background-color: black;
}

nav ul {
  list-style: none;
  padding: 1rem;
  width: 100%;
  margin: 0;
}

nav li {
  display: inline-block;
  width: 30%;
}

nav a {
  color: #00b8e6;
  font-size: 1.5rem;
  font-variant: small-caps;
  text-decoration: none;
  width: 100%;
}

nav a:hover {
  color: #bb33ff;
}


/*********BODY***********/

form {
  padding: 2rem 0;
  text-align: center;
}

label, input {
  display: block;
  margin: 1rem auto;
}

label {
  font-size: 2rem;
  text-shadow: 2px 2px 5px #000;
}

.from-user {
  font-size: 2rem;
  text-align: center;
  width: 25%;
}

.blank {
  width: 100%;
  min-height: 100%;
}

.result {
  font-size: 2.5rem;
  text-align: center;
}

table {
  font-size: 1.5rem;
  border-spacing: 3rem 0.5rem;
  border: 1px solid black;
  margin: 2rem auto;
}

th {
  font-size: 1.7rem;
  text-decoration: underline;
}

main {
  margin-bottom: 100px;
}

/*********FOOTER**********/

footer {
  bottom: 0;
  font-size: 0.7rem;
  margin: 0 auto;
  padding: 2rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100px;
}

footer p {
  margin-bottom: 0.2rem;
}

footer a {
  color: #00b8e6;
}
